.btn-tertiary {
  background-color: transparent;
  border: none;
  outline: none;
  color: $color-accent-500;
  padding: 12px 32px;

  &:hover {
    color: $color-accent-400;
  }
  &:focus {
    border: 4px solid $color-accent-100;
    border-radius: $border-radius;
    padding: 12px 32px;
  }
  &:active {
    border: none;
    color: $color-accent-700;
  }
  &:disabled  {
    opacity: $btn-opacity-disabled;
  }
}
