@import "./variables";

// BASE BUTTON STYLES
@mixin button-style {
  border-radius: 8px;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 32px;
  width: auto;
  min-width: 135px;
  box-shadow: $box-shadow-a;
}
.btn-container {
  @include button-style();
}
// BUTTON WRAPPER
@mixin button-wrapper {
  background-color: $colorWhite;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-right: 5px;
  }
}
// BUTTON WRAPPER S
.btn-wrapper-s {
  @include button-wrapper();
  width: 557px;
  height: 160px;
}

// BUTTON WRAPPER M
.btn-wrapper-m {
  @include button-wrapper();
  width: 838px;
  height: 240px;
}
// BUTTON WRAPPER L
.btn-wrapper-l {
  @include button-wrapper();
  width: 100%;
  height: 240px;
  padding: 0 250px;
}
// BUTTON WRAPPER TEXTFIELD
.btn-wrapper-textfield {
  @include button-wrapper();
  width: 417px;
  height: 200px;
}

// BUTTON LABEL
@mixin button-label {
  height: 24px;
  background: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 8px;
}
.btn-label {
  @include button-label();
}
// BUTTON ICON
@mixin icon {
  display: flex;
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.icon-xs {
  @include icon();
  width: 18px;
  height: 18px;
  font-size: 10px;
}
.icon-s {
  @include icon();
  width: 24px;
  height: 24px;
  font-size: 14px;
}
.icon-m {
  @include icon();
  width: 30px;
  height: 30px;
  font-size: 16px;
}
.icon-l {
  @include icon();
  width: 37px;
  height: 37px;
  font-size: 18px;
  background: white;
}
// BASE CARD STYLES
@mixin card-style {
  border-radius: 8px;
  line-height: 24px;
  background-color: $colorWhite;
  box-shadow: 0px 4px 8px -8px #000000;
  padding: 12px 32px;
}
.card-container {
  @include card-style();
  width: 380px;
  height: 110px;
}
// *-* *-* *-* * *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* /
@mixin transform($value) {
  transform: $value;
  -ms-transform: $value; /* IE 9 */
  -moz-transform: $value; /* Firefox */
  -webkit-transform: $value; /* Safari and Chrome */
  -o-transform: $value;
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ripple($color: #fff) {
  &:not(:disabled):not(.disabled) {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    &:after {
      z-index: -1;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, $color 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform 0.5s, opacity 1s;
    }

    &:active:after {
      transform: scale(0, 0);
      opacity: 0.3;
      transition: 0s;
    }
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
